@model Restaurante.Models.Reserva

@{
    ViewData["Title"] = "Reservas";
}

<h3>Tem a certeza que quer apagar a sua reserva?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NºdePessoas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NºdePessoas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registo.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaID" />
        <input type="submit" value="Apagar reserva" class="btn btn-danger" /> |
        <a asp-action="Index"><img src="~/Voltar_atras.png" width="40" /></a>
    </form>
</div>
