@model IEnumerable<Restaurante.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Fazer reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NºdePessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NºdePessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registo.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaID"><img src="~/lixo.png" width="20" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
