@model Restaurante.Models.Registo

@{
    ViewData["Title"] = "Registo";
}


<h3>Tem a certeza que quer apagar o registo?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RegistoID" />
        <input type="submit" value="Apagar registo" class="btn btn-danger" /> |
        <a asp-action="Index"><img src="~/Voltar_atras.png" width="40" /></a>
    </form>
</div>
